body {
  font-family: Arial;
  margin: 0;
  background: #eef5ff;
}

header {
  background: #90caf9;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: #bbdefb;
}

nav button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.pagina {
  display: none;
  padding: 20px;
}

.ativa {
  display: block;
}

.card {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.banner {
  background: #e3f2fd;
  padding: 10px;
  }
